extends layout.pug

block childMainContent
    p Diese kurze Demo ist mit Visual Studio Code geschrieben und im Amazon Web Services gehostet (EC2).

    p Die Anwendung ist anhand von node.js, expressjs, pug und jQuery gebaut.

    p Die UI ist anhand von Pug/Jade Templates generiert. Die folgenden Features sind verwendet: Mixins, Parameters, Extensions.

    p jQuery und jQuery-ui sind für den Auswahl von DOM Elementen und für drag & drop verwendet.

    p die Logik ist mit QUnit getestet.

    p die Bilder für die Schachfiguren sind von einer Spriteimage geladen.    
